<ion-header>
    <ion-toolbar>
        <ion-icon name="arrow-back" [routerLink]="['/account']"></ion-icon>
        <ion-title>{{ type }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card style="overflow-x:auto;">
        <table class="table">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <!-- <th>Age</th> -->
                <!-- <th>Birthday</th> -->
                <th>Address</th>
                <!-- <th>Marital Status</th> -->
                <th>Email</th>
                <th>Contact No.</th>
                <th>Leader</th>
            </tr>
            <tr *ngFor="let info of storage; index as i">
                <!-- <ion-col>{{ i + 1 }}</ion-col> -->
                <td>{{info.firstname}}</td>
                <td>{{info.lastname}}</td>
                <!-- <td>{{info.age}}</td>
                <td>{{info.birthday}}</td> -->
                <td>{{info.address}}</td>
                <!-- <td>{{info.marital_status}}</td> -->
                <td>{{info.email}}</td>
                <td>{{info.contact_number}}</td>
                <td>{{info.leader}}</td>
            </tr>
            <!-- <ion-row>
                <ion-col>Geneva</ion-col>
                <ion-col>Rivas</ion-col>
                <ion-col>21</ion-col> -->
            <!-- </ion-row> -->
            <!-- <ion-row>
                <ion-col>Geneva</ion-col>
                <ion-col>Rivas</ion-col>
                <ion-col>21</ion-col>
            </ion-row> -->
        </table>
    </ion-card>
    <a class="float" (click)="presentPrompt()">
        <b><ion-icon color="primary" class="my-float" name="add"></ion-icon></b>
    </a>
</ion-content>