<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>
<!-- *ngIf="username"  -->
<ion-content>
    <ion-card>
        <div *ngIf="username" class="ion-padding-top ion-text-center">
            <img src="https://www.gravatar.com/avatar?d=mm&s=140" alt="avatar">
            <h2>{{ username }}</h2>
        </div>
        <div>
            <ion-tabs>
                <ion-tab-bar slot="bottom">
                    <!-- <ion-tab-button>
                        <ion-icon name="person"></ion-icon>
                        <ion-label>AUXILIARY</ion-label>
                        <ion-select placeholder="View Auxiliary" >
                            <ion-select-option value="kids">Blessed Kids</ion-select-option>
                            <ion-select-option value="youth">Blessed Youth(13-21)</ion-select-option>
                            <ion-select-option value="single">Blessed Singles(Singles 22 up)</ion-select-option>
                            <ion-select-option value="marriedMen">Blessed Men(Married men)</ion-select-option>
                            <ion-select-option value="marriedWomen">Blessed Women(Married women)</ion-select-option>
                        </ion-select>
                    </ion-tab-button> -->

                    <ion-tab-button>
                        <ion-icon name="person"></ion-icon>
                        <ion-label>AUXILIARY</ion-label>
                        <ion-select placeholder="View Auxiliary" (ionChange)="optAuxiliary(value)">
                            <ion-select-option *ngFor="let value of auxiliary"> {{value}} </ion-select-option>
                        </ion-select>
                    </ion-tab-button>

                    <ion-tab-button>
                        <ion-icon name="person"></ion-icon>
                        <ion-label>MINISTRIES</ion-label>
                        <ion-select placeholder="View Ministry" okText="Okay" cancelText="Dismiss">
                            <ion-select-option value="youth">Blessed Youth</ion-select-option>
                            <ion-select-option value="single">Blessed Single</ion-select-option>
                            <ion-select-option value="married">Blessed Married</ion-select-option>
                        </ion-select>
                    </ion-tab-button>

                    <ion-tab-button (click)="addNewUser()">
                        <ion-icon name="person-add"></ion-icon>
                        <ion-label>ADD NEW USER</ion-label>
                    </ion-tab-button>
                </ion-tab-bar>
            </ion-tabs>
        </div>
    </ion-card>
    <h1>PERSONAL INFORMATION</h1>
    <hr class="solid">
    <div class="container">
        <div class="column">
            <p>Name: {{username}}</p>
            <p>Gmail</p>
            <p>Gender</p>
            <!-- </div>
        <div class="column"> -->
            <p>Phone</p>
            <p>Birthdate</p>
            <p>Address</p>
        </div>
    </div>
</ion-content>