    img {
        max-width: 140px;
        border-radius: 50%;
    }
    
    .card {
        background-color: #36B92A;
        // border: 1px solid black;
    }
    
    ion-select:hover {
        color: white;
        background-color: #36B92A;
    }
    
    // .ionCard {
    //     border: -5px solid black;
    // }
    .ion-padding-bottom {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    
    button {
        padding: 14px 40px;
        background-color: #36B92A;
        border-radius: 10px;
        border: 1px solid black;
        margin-left: 14%;
        margin-bottom: 10%;
        // border:black;
    }
    
    h1 {
        margin-left: 3%;
        font-size: 20px;
        font-style: bold;
    }
    
    hr.solid {
        border-top: 1px solid black;
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .container {
        margin-left: 10%;
    }
    
    ion-tab-button {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #E9FDD8;
    }
    
    .name {
        height: 50px;
    }
    
    @media only screen and (min-width: 600px) {
        button {
            margin-top: 5%;
            margin-left: 2%;
            margin-right: 2%;
            border: 1px solid black;
        }
        .column {
            float: left;
            width: 50%;
            padding: 10px;
            height: 300px;
        }
        li {
            float: left;
            text-align: center;
        }
        li a {
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        ion-label {
            font-size: 100%;
        }
    }