img {
    max-width: 140px;
    border-radius: 50%;
}

ion-card {
    background-color: #36B92A;
}

.container {
    margin-left: 10%;
}

h1 {
    margin-left: 3%;
    font-size: 20px;
}

hr.solid {
    border-top: 1px solid black;
    margin-left: 2%;
    margin-right: 2%;
}

button {
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid black;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}

ion-tab-button {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E9FDD8;
}

li {
    float: left;
    text-align: center;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ion-label {
    font-size: 100%;
}

ion-select:hover {
    color: white;
    background-color: #36B92A;
}