<ion-header>
    <ion-toolbar>
        <ion-icon slot="start" class="icon" name="arrow-back" (click)="navigateBackToSpeakers()"></ion-icon>
        <ion-title>{{segmentModel}} Details</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="speaker-detail">
    <ion-card>
        <i>
            <h3>{{detail.name}}</h3>
        </i>
        <u>
            <b>
                <h2>Training: {{trainingDetails.title}}</h2>
            </b>
        </u>
        <p>{{trainingDetails.description}}</p>
    </ion-card>
    <ion-card>
        <h3 style="text-align: center;">List of Enrolled Students</h3>
        <table class="table">
            <tr>
                <th *ngIf="isToDelete"> Select</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
            </tr>
            <tr *ngFor="let name of listOfStudents">
                <td *ngIf="isToDelete"> <input type="checkbox" (click)="getValue(name)"></td>
                <td>{{ name.firstname }}</td>
                <td>{{ name.lastname }}</td>
                <td>{{ name.age }}</td>
            </tr>
        </table>
    </ion-card>
    <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
        <ion-fab-button>
            <ion-icon name="add" (click)="navigateToAddStudent()"></ion-icon>
        </ion-fab-button>
    </ion-fab> -->
</ion-content>