/*
 * Speaker Background
 */

ion-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  --background: transparent;
  --color: black;
  font-size: 30px;
}

ion-toolbar ion-button,
ion-toolbar ion-back-button,
ion-toolbar ion-menu-button {
  --color: black;
}

.background {
  margin-top: 15%;
}

.md .speaker-background {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.ios .speaker-background {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}

ion-card {
  padding: 10px;
  color: black;
  margin-top: 5%;
}

ion-card h2 {
  font-family: "Georgia", serif;
  text-align: center;
  color: black;
  text-shadow: 2px 2px 4px #68ed9a;
  // text-shadow: 4px 4px 6px #000000;
}

ion-card h3 p {
  font-family: "Times New Roman", serif;
  text-align: justify;
}

/*
 * Speaker Details
 */

.speaker-detail p {
  margin-left: 6px;
  margin-right: 6px;
}

.speaker-detail hr {
  margin-top: 20px;
  margin-bottom: 20px;
  background: var(--ion-color-step-150, #d7d8da);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
