<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Cell Group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table *ngIf="currentUserRole != 'Admin'">
    <tr class="title">
      <th>Name</th>
      <th>Role</th>
      <th>Description</th>
    </tr>
    <tr *ngFor="let member of members">
      <th>{{ member.lastname }}, {{ member.firstname }} </th>
      <th>{{ member.roles }}</th>
      <th>{{ member.description }}</th>
    </tr>
  </table>
  <div *ngIf="currentUserRole == 'Admin'">

    <!-- This will show the left nav -->
    <div id="showLeftNav" class="sidenav">
      <a class="exit" (click)="closeApprovedModal('showLeftNav')">x</a>
      <div id="data" class="w3-container">
        <h1>New Approved Members</h1>
        <ul class="w3-ul w3-border">
          <li *ngFor="let name of newlyApprovedMembers.members" class=""> {{name.name}} </li>
        </ul>
      </div>
    </div>

    <!-- This will show the right nav -->
    <div id="showRightNav" class="rightnav">
      <a class="exit" (click)="closeApprovedModal('showRightNav')">x</a>
      <div id="data">
        <h1>New Added Members/VIP</h1>
        <ul class="w3-ul w3-border">
          <li *ngFor="let name of newlyApprovedMembers.members" class=""> {{name.name}} </li>
        </ul>
      </div>
    </div>
    <div class="topnav">
      <a class="leftNav" (click)="openApprovedMember('showLeftNav')">Approved Member</a>
      <a class="midNav">Notifications</a>
      <a class="rightNav" (click)="openApprovedMember('showRightNav')">New Added Member</a>
    </div>
    <div class="cellGroupContent">
      <ul class="w3-ul w3-card-4">
        <li *ngFor="let value of newlyApprovedMembers.members" class="w3-display-container">
          <b>{{ newlyApprovedMembers.leader }}</b> added <b>{{value.name}}</b> to his/her group
          <span onclick="this.parentElement.style.display='none'"
            class="w3-button w3-transparent w3-display-right">&times;</span>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="currentUserRole == 'Member'">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addAttendance()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>