<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Trainings/Classes</ion-title>
        <ion-button slot="end" (click)="presentFilter()">
            <span>
                <ion-icon slot="icon-only" name="options"></ion-icon>
            </span>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Trainings/Classes</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card slot="fixed" style="width: 100%;margin: 0;">
        <ion-segment (ionChange)="segmentModels($event)" value="Trainings" scrollable="true">
            <ion-segment-button value="Trainings">
                Trainings
            </ion-segment-button>
            <ion-segment-button value="Classes">
                Classes
            </ion-segment-button>
            <ion-select (ionChange)="segmentModels($event)" placeholder="RECORDS" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="trainings">TRAININGS</ion-select-option>
                <ion-select-option value="classes">CLASSES</ion-select-option>
            </ion-select>
        </ion-segment>
    </ion-card>
    <ion-card>
        <!-- *ngIf="ios" [(ngModel)]="segment" (ionChange)="getAllTheEventsAndDisplay($event)" -->
        <!-- [(ngModel)]="segmentModel" name="segmentModel" ngModel --><br><br>

        <div *ngIf="segmentModel === 'Trainings'">
            <ion-grid fixed>
                <ion-row>
                    <ion-item>
                        <p class="train" style="background-color:primary;"><img src="../../../assets/img/training1.png"></p>Training</p>&nbsp;&nbsp;
                        <ion-select (ionChange)="getIDSelectedTraining($event)" okText="Okay" cancelText="Dismiss">
                            <ion-select-option *ngFor="let speaker of dataDisplays.trainings" [value]="speaker.id">{{speaker.title}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-col size="12" size-md="6" *ngFor="let lesson of lessonsOfSelectedTraining">
                        <ion-card class="speaker-card">
                            <ion-card-header>
                                <!-- <ion-checkbox style="float:right;"></ion-checkbox> -->
                                <ion-item detail="false" lines="none" class="speaker-item" routerLink="/app/tabs/speakers/speaker-details/{{segmentModel}}/{{lesson.id}}">
                                    <ion-label>
                                        <h2>{{lesson.name}}</h2>
                                        <p>{{lesson.title}}</p>
                                    </ion-label>
                                </ion-item>
                            </ion-card-header>

                            <ion-card-content>
                                <ion-list lines="none">
                                    <ion-item routerLink="/app/tabs/speakers/speaker-details/{{segmentModel}}/{{lesson.id}}">
                                        <ion-label>
                                            <h3>{{lesson.lesson}}</h3>
                                        </ion-label>
                                    </ion-item>

                                    <ion-item detail="false" routerLink="/app/tabs/speakers/speaker-details/{{segmentModel}}/{{lesson.id}}">
                                        <ion-label>
                                            <h3>About {{lesson.name}}</h3>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>
                                <ion-row>
                                    <ion-col>
                                        <ion-button class="btnEditDelete">
                                            <ion-icon name="create-outline"></ion-icon>&nbsp;Edit
                                        </ion-button>
                                    </ion-col>
                                    <ion-col>
                                        <ion-button class="btnEditDelete">
                                            <ion-icon name="trash-outline"></ion-icon>&nbsp;Delete
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <div *ngIf="segmentModel === 'Classes'">
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="12" size-md="6" *ngFor="let speaker of dataDisplays.classes">
                        <ion-card class="speaker-card">
                            <ion-card-header>
                                <ion-item detail="false" lines="none" class="speaker-item" routerLink="/app/tabs/speakers/speaker-details/{{segmentModel}}/{{speaker.id}}">
                                    <!-- "/app/tabs/speakers/speaker-details/{{segmentModel}}/{{speaker.id}}" -->
                                    <!-- <ion-avatar slot="start">
                                    <img [src]="speaker.profilePic" [alt]="speaker.name + ' profile picture'">
                                </ion-avatar> -->
                                    <ion-label>
                                        <h2>{{speaker.name}}</h2>
                                        <p>{{speaker.title}}</p>
                                    </ion-label>
                                </ion-item>
                            </ion-card-header>

                            <ion-card-content>
                                <ion-list lines="none">
                                    <ion-item detail="false" routerLink="/app/tabs/speakers/speaker-details/{{segmentModel}}/{{speaker.id}}">
                                        <!-- "/app/tabs/speakers/session/{{speaker.id}}" -->
                                        <ion-label>
                                            <h3>{{speaker.lesson}}</h3>
                                        </ion-label>
                                    </ion-item>

                                    <ion-item detail="false" routerLink="/app/tabs/speakers/speaker-details/{{segmentModel}}/{{speaker.id}}">
                                        <ion-label>
                                            <h3>About {{speaker.name}}</h3>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
            <ion-fab-button>
                <ion-icon name="add" [routerLink]="['/add-classes']"></ion-icon>
            </ion-fab-button>
        </ion-fab> -->

        <!-- Display Records -->
        <div *ngIf="segmentModel == 'trainings'" class="ion-margin">
            <ion-grid>
                <ion-row class="grid">
                    <ion-col size-xs="4">Trainings</ion-col>
                    <ion-col size-xs="4">Title</ion-col>
                    <!-- <ion-col size-xs="4">Score</ion-col> -->
                </ion-row>
                <ion-row *ngFor="let training of trainings" (click)="navigateToAddingScore(training.id, 'trainings')">
                    <!-- <ion-col size-xs="4">{{training.lesson}}</ion-col> -->
                    <ion-col size-xs="4">{{training.name}}</ion-col>
                    <ion-col size-xs="4">{{training.title}}</ion-col>
                </ion-row>
            </ion-grid>
            <div class="pagination">
                <a (click)="onChangePage($event, 'deduct')">❮</a>
                <a style="float:right" (click)="onChangePage($event, 'add')">❯</a>
            </div>
        </div>
        <div *ngIf="segmentModel == 'classes'" class="ion-margin">
            <ion-grid>
                <ion-row class="grid">
                    <ion-col size-xs="4">Classes</ion-col>
                    <ion-col size-xs="4">Title</ion-col>
                    <!-- <ion-col size-xs="4">Score</ion-col> -->
                </ion-row>
                <ion-row *ngFor="let class of classes; let i = index" (click)="navigateToAddingScore(class.id, 'classes')">
                    <!-- <ion-col size-xs="4">{{classes[i + count].lesson}}</ion-col> -->
                    <ion-col size-xs="4">{{class.name}}</ion-col>
                    <ion-col size-xs="4">{{class.title}}</ion-col>
                </ion-row>
            </ion-grid>
            <div class="pagination">
                <a (click)="onChangePage($event, 'deduct')">❮</a>
                <a style="float:right" (click)="onChangePage($event, 'add')">❯</a>
            </div>
        </div>
    </ion-card>
    <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
        <ion-fab-button (click)="addEventOrClass()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab> -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button (click)="addEventOrClass()">
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="navigateAddLesson()">
                <ion-icon name="add-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

</ion-content>