<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Trainings/Classes</ion-title>
        <ion-button slot="end" (click)="presentFilter()">
            <span>
                <ion-icon slot="icon-only" name="options"></ion-icon>
            </span>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Trainings/Classes</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card slot="fixed" style="width: 100%;margin: 0;">
        <ion-segment (ionChange)="segmentModels($event)" value="Trainings" scrollable="true">
            <ion-segment-button value="Trainings">
                Trainings
            </ion-segment-button>
            <ion-segment-button value="Classes">
                Classes
            </ion-segment-button>
            <ion-segment-button value="Records">
                Records
            </ion-segment-button>
        </ion-segment>
    </ion-card>
    <ion-card><br><br>

        <div *ngIf="segmentModel === 'Trainings'">
            <div>
                <div *ngIf="defaultTraining == ''" style="text-align: center;">
                    <br><br><br><br>
                    <img src="../../../assets/data/empty.png" style="width: 50%; height: 50%;">
                    <h2 style="font-weight: 100;">No training to show!</h2><br>
                </div>
            </div>
            <ion-grid fixed>
                <ion-row>
                    <ion-item *ngIf="defaultTraining != ''">
                        <ion-select [placeholder]="defaultTraining" (ionChange)="getIDSelectedTraining($event)"
                            okText="Okay" cancelText="Dismiss">
                            <ion-select-option *ngFor="let speaker of dataDisplays.trainings" [value]="speaker">
                                {{speaker.title}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-col size="12" size-md="6" *ngFor="let lesson of dataDisplays.lessonsAdded">
                        <ion-card class="speaker-card">
                            <ion-card-header>
                                <ion-item detail="false" lines="none" class="speaker-item">
                                    <ion-label>
                                        <h2>{{lesson.name}}</h2>
                                        <p>{{lesson.title}}</p>
                                        <p>Lesson {{ lesson.lesson }}</p>
                                    </ion-label>
                                </ion-item>
                            </ion-card-header>

                            <ion-card-content>
                                <ion-list lines="none">
                                    <ion-item detail="false">
                                        <ion-label>
                                            <h3>About {{lesson.name}}</h3>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>
                                <ion-row>
                                    <ion-col>
                                        <ion-button *ngIf="selectedTrainingID.instructor == currentUsersId"
                                            class="btnEditDelete" routerLink="/update-selected-training/{{lesson.id}}">
                                            <ion-icon name="create-outline"></ion-icon>&nbsp;Edit
                                        </ion-button>
                                    </ion-col>
                                    <ion-col>
                                        <ion-button *ngIf="selectedTrainingID.instructor == currentUsersId"
                                            class="btnEditDelete" (click)="deleteLesson(lesson)">
                                            <ion-icon name="trash-outline"></ion-icon>&nbsp;Delete
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid><br><br>
            <div *ngIf="dataDisplays.lessonsAdded == undefined || dataDisplays.lessonsAdded.length == 0"
                style="text-align: center;"><br><br>
                <div *ngIf="dataDisplays.lessonsAdded == undefined && defaultTraining != ''">
                    <ion-spinner name="crescent" style="width: 5em; height: 5em;"></ion-spinner><br>
                    Loading...
                </div>
                <div *ngIf="dataDisplays.lessonsAdded != undefined && defaultTraining != ''">
                    <img *ngIf="dataDisplays.lessonsAdded.length == 0" src="../../../assets/data/empty.png"
                        style="width: 50%; height: 50%;">
                    <h2 style="font-weight: 100;">No Lessons found!</h2>
                </div><br><br>
            </div>
        </div>

        <div *ngIf="segmentModel === 'Classes'">
            <div>
                <div *ngIf="defaultTraining == ''" style="text-align: center;">
                    <br><br><br><br>
                    <img src="../../../assets/data/empty.png" style="width: 50%; height: 50%;">
                    <h2 style="font-weight: 100;">No training to show!</h2><br>
                </div>
            </div>
            <ion-grid fixed>
                <ion-row *ngIf="defaultTraining != ''">
                    <ion-item>
                        <ion-select [placeholder]="defaultTraining" (ionChange)="returnClassesOfTraining($event.target.value)"
                            okText="Okay" cancelText="Dismiss">
                            <ion-select-option *ngFor="let speaker of dataDisplays.trainings" [value]="speaker.id">
                                {{speaker.title}}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-col size="12" size-md="6" *ngFor="let lesson of classesOfSelectedTraining">
                        <ion-card class="speaker-card">
                            <ion-card-header>
                                <ion-item detail="false" lines="none" class="speaker-item"
                                    routerLink="/app/tabs/speakers/speaker-details/{{selectedTrainingID.id}}/{{lesson.id}}">
                                    <ion-label>
                                        <h2>{{lesson.name}}</h2>
                                        <p>{{lesson.title}}</p>
                                    </ion-label>
                                </ion-item>
                            </ion-card-header>

                            <ion-card-content>
                                <ion-list lines="none">
                                    <ion-item detail="false"
                                        routerLink="/app/tabs/speakers/speaker-details/{{selectedTrainingID.id}}/{{lesson.id}}">
                                        <ion-label>
                                            <h3>About {{lesson.name}}</h3>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid><br><br>
            <div *ngIf="classesOfSelectedTraining == undefined || classesOfSelectedTraining.length == 0"
                style="text-align: center;"><br><br>
                <div *ngIf="classesOfSelectedTraining == undefined && defaultTraining != ''">
                    <ion-spinner name="crescent" style="width: 5em; height: 5em;"></ion-spinner><br>
                    Loading...
                </div>
                <div *ngIf="classesOfSelectedTraining != undefined">
                    <img *ngIf="classesOfSelectedTraining.length == 0" src="../../../assets/data/empty.png"
                        style="width: 50%; height: 50%;">
                    <h2 style="font-weight: 100;">No Classes!</h2>
                </div><br><br>
            </div>
        </div>


        <!-- Display Records -->
        <div *ngIf="segmentModel == 'Records'" class="ion-margin">
            <div *ngIf="defaultTraining == ''" style="text-align: center;">
                <br><br><br><br>
                <img src="../../../assets/data/empty.png" style="width: 50%; height: 50%;">
                <h2 style="font-weight: 100;">No Record to show!</h2><br><br><br><br>
            </div>
            <ion-grid fixed>
                <ion-row *ngIf="defaultTraining != ''">
                    <ion-item>
                        <!-- This area is for select training  -->
                        <ion-icon name="accessibility-outline"></ion-icon>
                        <ion-select (ionChange)="getIDSelectedTraining($event)" [placeholder]="defaultTraining"
                            okText="Okay" cancelText="Dismiss">
                            <ion-select-option *ngFor="let training of dataDisplays.trainings" [value]="training"> {{
                                training.title }} </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <!-- This area is for select lesson  -->
                        <ion-icon name="folder-outline"></ion-icon>
                        <ion-select (ionChange)="returnSelectedLesson($event)" [placeholder]="defaultLesson"
                            okText="Okay" cancelText="Dismiss">
                            <ion-select-option *ngFor="let lesson of dataDisplays.lessonsAdded" [value]="lesson.id"> {{
                                lesson.title }} </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <!-- This area is for select class  -->
                        <ion-icon name="people-circle-outline"></ion-icon>
                        <ion-select (ionChange)="returnSelectedClass($event)" [placeholder]="defaultClass" okText="Okay"
                            cancelText="Dismiss">
                            <ion-select-option *ngFor="let class of classesOfSelectedTraining" [value]="class.id"> {{
                                class.name }} </ion-select-option>
                        </ion-select>
                    </ion-item><br>
                    <ion-item>
                        <!-- This area is for select type  -->
                        <ion-icon name="thumbs-up-outline"></ion-icon>
                        <ion-select [placeholder]="defaultType" okText="Okay" cancelText="Dismiss">
                            <ion-select-option> Attendance </ion-select-option>
                            <ion-select-option> Activity </ion-select-option>
                            <ion-select-option> Quiz </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-row>
            </ion-grid>
            <div *ngIf="defaultTraining != ''"><br>
                <div *ngIf="dataDisplays.allStudentsOfSelectedClass == undefined" style="text-align: center;">
                    <br><br>
                    <img src="../../../assets/data/empty.png" style="width: 40%; height: 40%;">
                    <h2 style="font-weight: 100;">Nothing to show!</h2>
                </div>
                <div *ngIf="dataDisplays.allStudentsOfSelectedClass != undefined">
                    <ion-item>
                        <table>
                            <tr>
                                <th>Name</th>
                                <th>Score</th>
                                <th>Remarks</th>
                            </tr>
                            <tr *ngFor="let student of dataDisplays.allStudentsOfSelectedClass; let i = index">
                                <td>{{ student.firstname }} {{ student.lastname }}</td>
                                <td> {{ dataDisplays.studentsScores[i].score }} </td>
                                <td> {{ dataDisplays.studentsScores[i].remarks }} </td>
                            </tr>
                        </table>
                    </ion-item>
                </div>
                <div style="text-align: center;">
                    <ion-spinner name="crescent" *ngIf="classesOfSelectedTraining == undefined"
                        style="width: 5em; height: 5em;"></ion-spinner>
                </div>
            </div>
        </div>
    </ion-card>
    
    <ion-fab *ngIf="segmentModel != 'Records'" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <div *ngIf="defaultTraining != ''">
            <ion-fab-list side="top" *ngIf="segmentModel == 'Classes'">
                <ion-card class="fabBtn" (click)="navigateAddClassOfLesson()">
                    <ion-icon color="primary" style="font-size: 25px;" name="add-outline"></ion-icon>
                    <ion-label>Classes</ion-label>
                </ion-card>
                <!-- <ion-fab-button >
                    <ion-icon color="primary" style="font-size: 25px;" name="add-outline"></ion-icon>
                    <ion-label>Class</ion-label>
                </ion-fab-button> -->
            </ion-fab-list>
        </div>

        <ion-fab-list side="top" *ngIf="segmentModel == 'Trainings'">
            <ion-card class="fabBtn" (click)="addEventOrClass()">
                <ion-icon color="primary" style="font-size: 25px;" name="add-outline"></ion-icon>
                <ion-label>Training</ion-label>
            </ion-card>
            <ion-card *ngIf="selectedTrainingID != undefined" class="fabBtn" (click)="navigateAddLesson()">
                <div *ngIf="selectedTrainingID.instructor == currentUsersId">
                    <ion-icon color="primary" style="font-size: 25px;" name="add-outline"></ion-icon>
                    <ion-label>Lesson</ion-label>
                </div>
            </ion-card>
        </ion-fab-list>
    </ion-fab>
    <ion-fab *ngIf="segmentModel == 'Records'" vertical="bottom" horizontal="end" slot="fixed">
        <div *ngIf="selectedTrainingID.instructor == currentUsersId">
            <ion-fab-button *ngIf="selectedClass != undefined" (click)="updateScoreOrAddStudent()">
                <ion-icon name="pencil-outline"></ion-icon>
            </ion-fab-button>
        </div>
    </ion-fab>

</ion-content>