<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Trainings/Classes</ion-title>
        <ion-button slot="end" (click)="presentFilter()">
            <span>
                <ion-icon slot="icon-only" name="options"></ion-icon>
            </span>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Trainings/Classes</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card slot="fixed" style="width: 100%;margin: 0;">
        <ion-segment (ionChange)="segmentModels($event)" value="Trainings" scrollable="true">
            <ion-segment-button value="Trainings">
                Trainings
            </ion-segment-button>
            <ion-segment-button value="Classes">
                Classes
            </ion-segment-button>
            <ion-segment-button value="Records">
                Records
            </ion-segment-button>
            <!-- <ion-select (ionChange)="segmentModels($event)" placeholder="RECORDS" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="trainings">TRAININGS</ion-select-option>
                <ion-select-option value="classes">CLASSES</ion-select-option>
            </ion-select> -->
        </ion-segment>
    </ion-card>
    <ion-card>
        <!-- *ngIf="ios" [(ngModel)]="segment" (ionChange)="getAllTheEventsAndDisplay($event)" -->
        <!-- [(ngModel)]="segmentModel" name="segmentModel" ngModel --><br><br>

        <div *ngIf="segmentModel === 'Trainings'">
            <ion-grid fixed>
                <ion-row>
                    <ion-item>
                        <!-- <p class="train" style="background-color:primary;"></p><p>Training</p>&nbsp;&nbsp; -->
                        <ion-select placeholder="Select Training" (ionChange)="getIDSelectedTraining($event)"
                            okText="Okay" cancelText="Dismiss">
                            <ion-select-option *ngFor="let speaker of dataDisplays.trainings" [value]="speaker.id">
                                {{speaker.title}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-col size="12" size-md="6" *ngFor="let lesson of lessonsOfSelectedTraining">
                        <ion-card class="speaker-card">
                            <ion-card-header>
                                <!-- <ion-checkbox style="float:right;"></ion-checkbox> -->
                                <ion-item detail="false" lines="none" class="speaker-item">
                                    <ion-label>
                                        <h2>{{lesson.name}}</h2>
                                        <p>{{lesson.title}}</p>
                                    </ion-label>
                                </ion-item>
                            </ion-card-header>

                            <ion-card-content>
                                <ion-list lines="none">
                                    <ion-item detail="false">
                                        <ion-label>
                                            <h3>About {{lesson.name}}</h3>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>
                                <ion-row>
                                    <ion-col>
                                        <ion-button class="btnEditDelete" routerLink="/update-selected-training/{{lesson.id}}">
                                            <ion-icon name="create-outline"></ion-icon>&nbsp;Edit
                                        </ion-button>
                                    </ion-col>
                                    <ion-col>
                                        <ion-button class="btnEditDelete">
                                            <ion-icon name="trash-outline"></ion-icon>&nbsp;Delete
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <div *ngIf="segmentModel === 'Classes'">
            <ion-grid fixed>
                <ion-row>
                    <ion-item>
                        <ion-select placeholder="Select Training" (ionChange)="getIDSelectedTraining($event)"
                            okText="Okay" cancelText="Dismiss">
                            <ion-select-option *ngFor="let speaker of dataDisplays.trainings" [value]="speaker.id">
                                {{speaker.title}}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-col size="12" size-md="6" *ngFor="let lesson of classesOfSelectedTraining">
                        <ion-card class="speaker-card">
                            <ion-card-header>
                                <ion-item detail="false" lines="none" class="speaker-item"
                                    routerLink="/app/tabs/speakers/speaker-details/{{selectedTrainingID}}/{{lesson.id}}">
                                    <ion-label>
                                        <h2>{{lesson.name}}</h2>
                                        <p>{{lesson.title}}</p>
                                    </ion-label>
                                </ion-item>
                            </ion-card-header>

                            <ion-card-content>
                                <ion-list lines="none">
                                    <ion-item detail="false"
                                        routerLink="/app/tabs/speakers/speaker-details/{{selectedTrainingID}}/{{lesson.id}}">
                                        <ion-label>
                                            <h3>About {{lesson.name}}</h3>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>


        <!-- Display Records -->
        <div *ngIf="segmentModel == 'Records'" class="ion-margin">
            <ion-grid fixed>
                <ion-row>
                    <ion-item>
                        <!-- This area is for select training  -->
                        <ion-icon name="accessibility-outline"></ion-icon>
                        <ion-select  (ionChange)="getIDSelectedTraining($event)" placeholder="Select Training" okText="Okay" cancelText="Dismiss">
                            <ion-select-option *ngFor="let training of dataDisplays.trainings" [value]="training.id"> {{ training.title }} </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <!-- This area is for select lesson  -->
                        <ion-icon name="folder-outline"></ion-icon>
                        <ion-select  (ionChange)="returnSelectedLesson($event)" placeholder="Select Lesson" okText="Okay" cancelText="Dismiss">
                            <ion-select-option *ngFor="let lesson of lessonsOfSelectedTraining" [value]="lesson.id"> {{ lesson.title }} </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <!-- This area is for select class  -->
                        <ion-icon name="people-circle-outline"></ion-icon>
                        <ion-select  (ionChange)="returnSelectedClass($event)" placeholder="Select Classes" okText="Okay" cancelText="Dismiss">
                            <ion-select-option *ngFor="let class of classesOfSelectedTraining" [value]="class.id"> {{ class.name }} </ion-select-option>
                        </ion-select>
                    </ion-item><br>
                    <ion-item>
                        <!-- This area is for select type  -->
                        <ion-icon name="thumbs-up-outline"></ion-icon>
                        <ion-select  placeholder="Select a Type" okText="Okay" cancelText="Dismiss">
                            <ion-select-option> Attendance </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-row>
            </ion-grid>
            <div>
                <h1 style="text-align: center; font-weight: 100;">Name of Students
                    <ion-icon style="height: 30px; width: 30px;" (click)="addStudent()" name="add-circle-outline"></ion-icon>
                </h1>
                <ion-item>
                    <table>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                        </tr>
                        <tr *ngFor="let student of allStudentsOfSelectedClass">
                            <td>{{ student.firstname }}</td>
                            <td>{{ student.lastname }}</td>
                        </tr>
                    </table>
                </ion-item>
            </div>
        </div>
        <!-- <div *ngIf="segmentModel == 'trainings'" class="ion-margin">
            <ion-grid>
                <ion-row class="grid">
                    <ion-col size-xs="4">Trainings</ion-col>
                    <ion-col size-xs="4">Title</ion-col>
                </ion-row>
                <ion-row *ngFor="let training of trainings" (click)="navigateToAddingScore(training.id, 'trainings')">
                    <ion-col size-xs="4">{{training.name}}</ion-col>
                    <ion-col size-xs="4">{{training.title}}</ion-col>
                </ion-row>
            </ion-grid>
            <div class="pagination">
                <a (click)="onChangePage($event, 'deduct')">❮</a>
                <a style="float:right" (click)="onChangePage($event, 'add')">❯</a>
            </div>
        </div>
        <div *ngIf="segmentModel == 'classes'" class="ion-margin">
            <ion-grid>
                <ion-row class="grid">
                    <ion-col size-xs="4">Classes</ion-col>
                    <ion-col size-xs="4">Title</ion-col>
                </ion-row>
                <ion-row *ngFor="let class of classes; let i = index"
                    (click)="navigateToAddingScore(class.id, 'classes')">
                    <ion-col size-xs="4">{{class.name}}</ion-col>
                    <ion-col size-xs="4">{{class.title}}</ion-col>
                </ion-row>
            </ion-grid>
            <div class="pagination">
                <a (click)="onChangePage($event, 'deduct')">❮</a>
                <a style="float:right" (click)="onChangePage($event, 'add')">❯</a>
            </div>
        </div> -->
    </ion-card>
    <ion-fab *ngIf="segmentModel != 'Records'" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top" *ngIf="segmentModel == 'Classes'">
            <ion-fab-button (click)="navigateAddClassOfLesson()">
                <ion-icon name="add-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>

        <ion-fab-list side="top" *ngIf="segmentModel == 'Trainings'">
            <p>Add Training</p>
            <ion-fab-button (click)="addEventOrClass()">
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-fab-button>
            <p>Add Lesson</p>
            <ion-fab-button (click)="navigateAddLesson()">
                <ion-icon name="add-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

</ion-content>