<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Network</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card">
    <p>Leader's Name: </p>
    <h1 *ngFor="let user of leaderDetails">{{ user.firstname + ' ' + user.lastname}}</h1>

    <div *ngIf="groupMembers.length == 0" style="text-align: center;">
      <ion-spinner style="width: 5em; height: 5em;" name="crescent"></ion-spinner>
    </div>
    <ion-grid *ngIf="groupMembers.length != 0">
      <ion-row class="grid">
        <ion-col size-xs="4">First Name</ion-col>
        <ion-col size-xs="4">Last Name</ion-col>
        <ion-col size-xs="4">Age</ion-col>
      </ion-row><br>
      <ion-row style="padding-bottom: 10px;" *ngFor="let member of groupMembers">
        <ion-col size-xs="4">{{ member.firstname }} </ion-col>
        <ion-col size-xs="4">{{ member.lastname }}</ion-col>
        <ion-col size-xs="4">{{ member.age }}</ion-col>
      </ion-row><br>
    </ion-grid>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button routerLink="/support/my-network">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>