<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Network</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <h4 style="color:black;">&nbsp;Leader's Name: </h4>
    <strong>
      <h2 style="color:black;">&nbsp;&nbsp;Geneva Rivas</h2>
    </strong>
    <table class="table">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
      </tr>
      <tr>
        <!-- <ion-col>{{ i + 1 }}</ion-col> -->
        <td>Raymond Jay</td>
        <td>Yorong</td>
        <td>22</td>
      </tr>
      <tr>
        <!-- <ion-col>{{ i + 1 }}</ion-col> -->
        <td>Romeo</td>
        <td>Lenizo</td>
        <td>21</td>
      </tr>
    </table>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button routerLink="/support">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>