.grid {
    background-color: #68ED9A;
    font-weight: bold;
    ion-row:first-child {
        //   background-color: yellowgreen;
        font-weight: bold;
    }
    ion-row:nth-child(even) {
        background: #dddddd;
    }
}

ion-row {
    border-bottom: 1px solid rgba(133, 133, 133, 0.5);
}

.card {
    padding: 20px;
}

h1 {
    text-align: center;
}

ion-content {
    font-weight: 100;
}