<ion-header translucent="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-button *ngIf="ios" (click)="dismiss()">Cancel</ion-button>
      <ion-button *ngIf="!ios" (click)="selectAll(false)">Reset</ion-button>
    </ion-buttons> -->

    <ion-title style="width: 100%; text-align: center;">
      Your Events Posted
    </ion-title>

    <ion-buttons slot="start">
        <ion-icon class="icon" name="arrow-back" (click)="applyFilters()"></ion-icon>
      <!-- <ion-button (click)="applyFilters()" strong>Exit</ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [lines]="ios ? 'inset' : 'full'">
    <ion-list-header>Tracks</ion-list-header>
<hr>
    <ion-item *ngFor="let track of usersEvents">
      <ion-icon *ngIf="ios" slot="start" color="medium"></ion-icon>
      <ion-label>{{track.title}}</ion-label>
      <ion-button color="success" (click)="updateAnEvent(track)"><ion-icon name="create"></ion-icon></ion-button>
      <ion-button color="danger" (click)="deleteAnEvent(track)"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer translucent="true" *ngIf="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="selectAll(false)">Deselect All</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="selectAll(true)">Select All</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
