<ion-header>
    <ion-toolbar *ngIf="!addClicked">
        <ion-icon slot="end" color="primary" name="add" (click)="btnAdd()"></ion-icon>
        <ion-icon slot="start" name="arrow-back" [routerLink]="['/account']"></ion-icon>
        <ion-title>{{ type }}</ion-title>
    </ion-toolbar>
    <ion-toolbar *ngIf="addClicked">
        <ion-searchbar [(ngModel)]="queryText" placeholder="Search"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <form *ngIf="addClicked" role="search">
        <div class="input-group">
            <input type="text" class="form-control" name="q" placeholder="Search users"> <span class="input-group-btn">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </form> -->
    <ion-card style="overflow-x:auto;">
        <table class="table">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Address</th>
                <th>Email</th>
                <th>Contact No.</th>
                <th>Leader</th>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>Australia</td>
                <td>smith@gmail.com</td>
                <td>09227039012</td>
                <td>Marichu</td>
            </tr>
            <tr>
                <td>Geneva</td>
                <td>Rivas</td>
                <td>21</td>
                <td>Catolohan</td>
                <td>geneva@gmail.com</td>
                <td>09482850377</td>
                <td>Marichu</td>
            </tr>
        </table>
    </ion-card>
    <!-- <a class="float" (click)="presentPrompt()">
        <b>
            <ion-icon color="primary" class="my-float" name="add"></ion-icon>
        </b>
    </a> -->
</ion-content>