<ion-header>
    <ion-toolbar *ngIf="!addClicked">
        <ion-icon *ngIf="role != 'Member'" slot="end" color="primary" name="add" (click)="iconAdd()"></ion-icon>
        <ion-icon slot="start" name="arrow-back" [routerLink]="['/account']"></ion-icon>
        <ion-title>{{ content }}</ion-title>
    </ion-toolbar>
    <ion-toolbar *ngIf="addClicked">
        <ion-icon slot="start" name="arrow-back" [routerLink]="['/account']"></ion-icon>
        <ion-searchbar type="text" debounce="500" [(ngModel)]="queryText" (ionChange)="updateList($event)" value="search" name="search" placeholder="Search"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="addClicked">
        <table>
            <tr *ngFor="let lists of list; index as i">
                <td>{{lists.firstname}}</td>
                <td>{{lists.lastname}}</td>
                <td>
                    <ion-button size="small" color="primary" (click)="addMember(lists)">Add</ion-button>
                </td>
            </tr>
        </table>
    </ion-card>
    <ion-card *ngIf="!addClicked" style="overflow-x:auto;">
        <table class="table">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Contact No.</th>
                <th>Leader</th>
            </tr>
            <tr *ngFor="let info of storage; index as i">
                <!-- <ion-col>{{ i + 1 }}</ion-col> -->
                <td>{{info.firstname}}</td>
                <td>{{info.lastname}}</td>
                <td>{{info.address}}</td>
                <td>{{info.email}}</td>
                <td>{{info.contact_number}}</td>
                <td>{{info.leader}}</td>
            </tr>
        </table>
    </ion-card>
    <!-- <a class="float" (click)="presentPrompt()">
        <b>
            <ion-icon color="primary" class="my-float" name="add"></ion-icon>
        </b>
    </a> -->
</ion-content>