<ion-content>
  <ion-card>
    <div class="card">
      <div class="login-logo">
        <img src="assets/img/BHCFLogo.png" alt="Ionic logo">
        <p>Blessed Hope of Christian Fellowship</p>
      </div>
      <ion-label>Login as: </ion-label>
    <ion-select placeholder="Users" [(ngModel)]="usersLog" (ionChange)="usersLogin()">
      <ion-select-option value="admin">Admin</ion-select-option>
      <ion-select-option value="pastor">Pastor</ion-select-option>
      <ion-select-option value="leader">Leader</ion-select-option>
      <ion-select-option value="member">Member</ion-select-option>
    </ion-select>
    </div>
  </ion-card>


</ion-content>
