<ion-header>
    <ion-toolbar>
        <ion-icon slot="start" class="icon" name="arrow-back" [routerLink]="['/app/tabs/speakers']"></ion-icon>
        <ion-title>Add New Trainings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="card">
        <ion-card-content>
            <form #addEventsForm="ngForm" novalidate>
                <ion-list lines="none">
                    <ion-item>
                        <!-- <ion-label position="stacked" color="primary">Lastname</ion-label> -->
                        <div class="input-container">
                            <ion-icon class="iconLogin" name="locate-outline"></ion-icon>
                            <ion-input [(ngModel)]="addTrainings.newTrainings.code" placeholder="Code" name="Code" type="text" #Code="ngModel" required></ion-input>
                        </div>&nbsp;&nbsp;
                    </ion-item><br>
                    <ion-label *ngIf="!Code.valid && Code.touched && Code.errors?.required">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <ion-text color="danger">Code is required</ion-text>
                    </ion-label><br>

                    <!-- <div *ngFor="let in of counter(lessonsToCreate); let i = index">
            <ion-item>
              <div class="input-container">
                <textarea [(ngModel)]="addTrainings.newTrainings.Lesson[i]" [placeholder]="'Lesson ' + (i+1)"
                  name="Lesson" type="text" required></textarea>
              </div>&nbsp;&nbsp;
            </ion-item>
          </div><br> -->
          <ion-item>
            <!-- <ion-label position="stacked" color="primary">Description</ion-label> -->
            <div class="input-container">
              <ion-input [(ngModel)]="addTrainings.newTrainings.title" #nameCtrl="ngModel" placeholder="Title"
                name="Title" type="text" #Title="ngModel" required></ion-input>
            </div>&nbsp;&nbsp;
          </ion-item>
          <ion-label *ngIf="!Title.valid && Title.touched && Title.errors?.required">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <ion-text color="danger">Title is required</ion-text>
          </ion-label><br>
          <ion-item>
            <!-- <ion-label position="stacked" color="primary">Description</ion-label> -->
            <div class="input-container">
              <ion-textarea [(ngModel)]="addTrainings.newTrainings.description" #nameCtrl="ngModel"
                placeholder="Description" name="Description" type="text" #Description="ngModel" required></ion-textarea>
            </div>&nbsp;&nbsp;
          </ion-item>
          <ion-label *ngIf="!Description.valid && Description.touched && Description.errors?.required">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <ion-text color="danger">Description is required</ion-text>
          </ion-label><br>

          <ion-item>
            <!-- <ion-label position="stacked" color="primary">Lastname</ion-label> -->
            <div class="input-container">
              <ion-icon class="iconLogin" name="add-circle-outline"></ion-icon>
              <ion-select name="LessonsNumber" placeholder="Choose level of Training"
                [(ngModel)]="addTrainings.newTrainings.level" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="12">Primary/Leader</ion-select-option>
                <ion-select-option value="144">Member(144)</ion-select-option>
                <ion-select-option value="1728">Member(1728)</ion-select-option>
              </ion-select>

              <!-- <ion-input  placeholder="Level" name="LessonsNumber" type="number" required></ion-input> -->
            </div>&nbsp;&nbsp;
          </ion-item>
        </ion-list>
        <div class="ion-padding">
          <!-- [disabled]="addEventsForm.invalid" -->
          <ion-button (click)="onaddEvents(addEventsForm)" type="submit" expand="block">Add</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>