<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" class="icon" name="arrow-back" [routerLink]="['/app/tabs/speakers']"></ion-icon>
    <ion-title>Add New Training</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <ion-card-content>
      <form #addEventsForm="ngForm" novalidate>
        <ion-list lines="none">
          <ion-item>
            <!-- <ion-label position="stacked" color="primary">Lastname</ion-label> -->
            <div class="input-container">
              <ion-icon class="iconLogin" name="locate-outline"></ion-icon>
              <ion-input [(ngModel)]="addTrainings.newTrainings.code" placeholder="&nbsp;&nbsp;Code" name="Code" type="text"
                #Name="ngModel" required></ion-input>
            </div>&nbsp;&nbsp;
          </ion-item><br>

          <!-- <div *ngFor="let in of counter(lessonsToCreate); let i = index">
            <ion-item>
              <div class="input-container">
                <textarea [(ngModel)]="addTrainings.newTrainings.Lesson[i]" [placeholder]="'Lesson ' + (i+1)"
                  name="Lesson" type="text" required></textarea>
              </div>&nbsp;&nbsp;
            </ion-item>
          </div><br> -->
          <ion-item>
            <!-- <ion-label position="stacked" color="primary">Description</ion-label> -->
            <div class="input-container">
              <ion-input [(ngModel)]="addTrainings.newTrainings.title" #nameCtrl="ngModel" placeholder="&nbsp;Title" name="Title"
                type="text" #Title="ngModel" required></ion-input>
            </div>&nbsp;&nbsp;
          </ion-item>
          <ion-label *ngIf="!Title.valid && Title.touched && Title.errors?.required">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <ion-text color="danger">Title is required</ion-text>
          </ion-label><br>
          <ion-item>
            <!-- <ion-label position="stacked" color="primary">Description</ion-label> -->
            <div class="input-container">
              <ion-input [(ngModel)]="addTrainings.newTrainings.description" #nameCtrl="ngModel" placeholder="&nbsp;&nbsp;Description"
                name="Description" type="text" #Description="ngModel" required></ion-input>
            </div>&nbsp;&nbsp;
          </ion-item>
          <ion-label *ngIf="!Description.valid && Description.touched && Description.errors?.required">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <ion-text color="danger">Description is required</ion-text>
          </ion-label><br>

          <ion-item>
            <!-- <ion-label position="stacked" color="primary">Lastname</ion-label> -->
            <div class="input-container">
              <ion-icon class="iconLogin" name="add-circle-outline"></ion-icon>
              <ion-input [(ngModel)]="addTrainings.newTrainings.level" placeholder="&nbsp;&nbsp;Level" name="LessonsNumber" type="number" required></ion-input>
            </div>&nbsp;&nbsp;
          </ion-item>
        </ion-list>
        <div class="ion-padding">
          <!-- [disabled]="addEventsForm.invalid" -->
          <ion-button (click)="onaddEvents(addEventsForm)" type="submit" expand="block">Add</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>