<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Reportings</ion-title>
        <button *ngIf="userVip" style="position: fixed;margin-left: 70%;top: 18px;" (click)="logout()">Log-out</button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <!-- <ion-label position="stacked" color="primary">Firstname</ion-label> -->
        <div class="input-container">
            <ion-icon class="iconLogin" name="calendar"></ion-icon>
            <ion-select placeholder="Weekly">
                <ion-select-option value="f">Monthly</ion-select-option>
                <ion-select-option value="q">Quarterly</ion-select-option>
                <ion-select-option value="y">Yearly</ion-select-option>
            </ion-select>
        </div>
    </ion-item>
    <ion-label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <ion-text color="danger">Firstname is required</ion-text>
    </ion-label><br>
    <ion-item>
        <!-- <ion-label position="stacked" color="primary">Birthday</ion-label> -->
        <div class="input-container">
            <ion-icon class="iconLogin" name="calendar"></ion-icon>
            <input class="input" placeholder="Birthday" name="Birthday" type="date" id="birth" required />
        </div>&nbsp;&nbsp;
    </ion-item>
    <ion-label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <ion-text color="danger">Birthday is required</ion-text>
    </ion-label>
    <ion-item>
        <div class="input-container">
            <ion-icon class="iconLogin" name="person"></ion-icon>
            <ion-select placeholder="Leader">
                <ion-select-option value="f">Leader 1</ion-select-option>
            </ion-select>
        </div>
    </ion-item>
    <div class="ion-margin">
        <ion-grid>
            <ion-row class="grid">
                <ion-col size-xs="4">Name</ion-col>
                <ion-col size-xs="4">CG</ion-col>
                <ion-col size-xs="4">SC</ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-xs="4">Juan</ion-col>
                <ion-col size-xs="4">
                    1/1
                </ion-col>
                <ion-col size-xs="4">1/1</ion-col>
            </ion-row>
        </ion-grid>
        <div class="pagination">
            <a (click)="onChangePage($event, 'deduct')">❮</a>
            <a style="float:right" (click)="onChangePage($event, 'add')">❯</a>
        </div>
        <!-- <a>❮</a>
        <a style="float: right;">❯</a> -->
    </div>

    <!-- Navigation bar top -->
    <!-- <ion-segment *ngIf="!userVip">
        <ion-segment-button (click)="typeOfViewController('Calendar')">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Calendar View</ion-label>
        </ion-segment-button>

        <ion-segment-button (click)="typeOfViewController('Table')">
            <ion-icon name="grid"></ion-icon>
            <ion-label>Table View</ion-label>
        </ion-segment-button>
    </ion-segment>
    <ion-card *ngIf="hideCalendar"> -->

    <!-- Calendar View Card -->
    <!-- <ion-card *ngIf="!typeOfView">
      <p>Display Dates: </p>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-select (ionChange)="typeOfDisplay($event)" name="code" ngModel class="input" placeholder="Type">
              <ion-select-option *ngFor="let type of typeOfDisplays" [value]="type">{{ type }}</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col>
            <ion-select (ionChange)="monthChose($event)" name="code" ngModel class="input" class="monthDisplay"
              placeholder="Month">
              <ion-select-option *ngFor="let month of monthChoices" [value]="month">{{ month }}</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col>
            <ion-select (ionChange)="yearChose($event)" name="code" ngModel class="input" placeholder="Year">
              <ion-select-option *ngFor="let year of yearChoices" [value]="year">{{ year }}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>

      Display by week 
        <div *ngIf=" typeChoice == 'Weekly'">
            <ion-button (click)="indexCounter('back')" size="small">Back</ion-button>
            <ion-button style="float: right;" (click)="indexCounter('next')" size="small">Next</ion-button>
            <h1> {{ month }} </h1>
            <table>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
                <tr>
                    <td [id]="arrayOfDatesForAmonth[rowCounter + 0].date">{{ arrayOfDatesForAmonth[rowCounter + 0].date }}</td>
                    <td [id]="arrayOfDatesForAmonth[rowCounter + 1].date">{{ arrayOfDatesForAmonth[rowCounter + 1].date }}</td>
                    <td [id]="arrayOfDatesForAmonth[rowCounter + 2].date">{{ arrayOfDatesForAmonth[rowCounter + 2].date }}</td>
                    <td [id]="arrayOfDatesForAmonth[rowCounter + 3].date">{{ arrayOfDatesForAmonth[rowCounter + 3].date }}</td>
                    <td [id]="arrayOfDatesForAmonth[rowCounter + 4].date">{{ arrayOfDatesForAmonth[rowCounter + 4].date }}</td>
                    <td [id]="arrayOfDatesForAmonth[rowCounter + 5].date">{{ arrayOfDatesForAmonth[rowCounter + 5].date }}</td>
                    <td [id]="arrayOfDatesForAmonth[rowCounter + 6].date">{{ arrayOfDatesForAmonth[rowCounter + 6].date }}</td>
                </tr>
            </table>
        </div>

       Display by month -
        <ion-card *ngIf=" typeChoice == 'Monthly'">
            <h1> {{ month }} </h1>
            <table>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
                <tr *ngFor="let value of lengthOfMonthsDate">
                    <td [id]="arrayOfDatesForAmonth[value[0]].date">{{ arrayOfDatesForAmonth[value[0]].date }}</td>
                    <td [id]="arrayOfDatesForAmonth[value[1]].date">{{ arrayOfDatesForAmonth[value[1]].date }}</td>
                    <td [id]="arrayOfDatesForAmonth[value[2]].date">{{ arrayOfDatesForAmonth[value[2]].date }}</td>
                    <td [id]="arrayOfDatesForAmonth[value[3]].date">{{ arrayOfDatesForAmonth[value[3]].date }}</td>
                    <td [id]="arrayOfDatesForAmonth[value[4]].date">{{ arrayOfDatesForAmonth[value[4]].date }}</td>
                    <td [id]="arrayOfDatesForAmonth[value[5]].date">{{ arrayOfDatesForAmonth[value[5]].date }}</td>
                    <td [id]="arrayOfDatesForAmonth[value[6]].date">{{ arrayOfDatesForAmonth[value[6]].date }}</td>
                </tr>
            </table>
        </ion-card>

     Display yearly
        <ion-card *ngIf="typeChoice == 'Yearly'">
            <h1>{{ yearToFilter }}</h1>
            <table>
                <tr *ngFor="let month of yearlyArray">
                    <th [id]="month[0]" (click)="monthSelectedClick(month[0])">{{ month[0] }}</th>
                    <th [id]="month[1]" (click)="monthSelectedClick(month[1])">{{ month[1] }}</th>
                    <th [id]="month[2]" (click)="monthSelectedClick(month[2])">{{ month[2] }}</th>
                </tr>
            </table>
        </ion-card>
    </ion-card>
    <ion-card *ngIf="typeOfView">
        <ion-list>
            <ion-item *ngFor="let event of attendanceInTableView">
                <p>Sunday Celebration</p>
                <ion-label>{{ event }}</ion-label>
            </ion-item>
            <ion-item *ngFor="let event of eventAttendanceTableView">
                <p>Events Attended</p>
                <ion-label>{{ event }}</ion-label>
            </ion-item>
        </ion-list>
    </ion-card>
    </ion-card> -->
</ion-content>
<div *ngIf="currentUserRole == 'Member' || currentUserRole == 'Leader'">
    <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button>
                <p class="tag">Event</p>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="addAttendance()">
                <p class="tag">S. C.</p>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</div>