<!-- <ion-header>
    <ion-toolbar>
        <ion-icon class="iconArrow" slot="start" name="arrow-back" [routerLink]="['/login']"></ion-icon>
        <ion-title>Reset Password</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <div class="login-logo">
        <img src="assets/img/BHCFLogo.png" alt="Ionic logo">
        <p>Blessed Hope of Christian Fellowship</p>
    </div>
    <form #form2="ngForm" novalidate><br><br>
        <!-- (ngSubmit)="checkCode(form2)" -->
        <ion-item>
            <ion-input placeholder="Enter username" name="username" type="text" [(ngModel)]="username" ngModel required username></ion-input>
        </ion-item>
        <!-- <ion-item>
            <ion-input placeholder="Enter Phone number" name="contact_number" type="number" (ionChange)="activateNumberButton($event)" ngModel required contact_number></ion-input>
        </ion-item><br> -->
        <ion-button size="medium" type="submit" color='secondary' expand="block" (click)="sendCode(username)">Send
        </ion-button><br><br>
        <ion-item>
            <ion-input placeholder="Enter Code" name="code" [(ngModel)]="code" type="number" ngModel required code></ion-input>
        </ion-item><br>
        <ion-button size="medium" type="submit" color='secondary' [disabled]="form2.invalid" expand="block" (click)="sendCode()">Send Code
        </ion-button><br><br>
        <ion-button class="btnLogin" color="secondary" type="submit" expand="block" [routerLink]="['/login']">Back to login</ion-button>
    </form>
    <form #loginForm="ngForm" novalidate>
        <ion-list>
            <ion-item>
                <div class="input-container">
                    <ion-icon class="iconLogin" name="key"></ion-icon>
                    <input style="border-right:none" [(ngModel)]="login.currentpassword" class="input" name="currentpassword" placeholder="Current Password" type="{{type}}" #currentpassword="ngModel" required />
                    <button style="border: 1px solid orange; border-left: none" class="btnEye" *ngIf="!showCurrentPass" ion-button clear color="dark" type="button" item-right (click)="showCurrentPassword()">
                            <ion-icon color="primary" name="eye-off" style="font-size:25px;"></ion-icon>
                        </button>
                    <button style="border: 1px solid orange; border-left: none" class="btnEye" *ngIf="showCurrentPass" ion-button clear color="dark" type="button" item-right (click)="showCurrentPassword()">
                            <ion-icon color="primary" name="eye" style="font-size:25px;"></ion-icon>
                        </button>
                </div>&nbsp;&nbsp;
            </ion-item>
            <ion-label *ngIf="!currentpassword.valid && currentpassword.touched && currentpassword.errors?.required">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <ion-text color="danger">Current Password is required</ion-text>
            </ion-label><br>
            <ion-item>
                <div class="input-container">
                    <ion-icon class="iconLogin" name="key"></ion-icon>
                    <input style="border-right:none" [(ngModel)]="login.password" class="input" name="password" placeholder="New Password" type="{{type2}}" #password="ngModel" required />
                    <button style="border: 1px solid orange; border-left: none" class="btnEye" *ngIf="!showPass" ion-button clear color="dark" item-right (click)="showPassword()">
                            <ion-icon color="primary" name="eye-off" style="font-size:25px;"></ion-icon>
                        </button>
                    <button style="border: 1px solid orange; border-left: none" class="btnEye" *ngIf="showPass" ion-button clear color="dark" item-right (click)="showPassword()">
                            <ion-icon color="primary" name="eye" style="font-size:25px;"></ion-icon>
                        </button>
                </div>&nbsp;&nbsp;
            </ion-item>
            <ion-label *ngIf="!password.valid && password.touched && password.errors?.required">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <ion-text color="danger">New Password is required</ion-text>
            </ion-label>

        </ion-list><br>

        <ion-row>
            <ion-col>
                <ion-button class="btnLogin" (click)="onLogin()" type="submit" expand="block">Reset Password</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button class="btnLogin" color="secondary" type="submit" expand="block" [routerLink]="['/forgotpassword']">Cancel</ion-button>
            </ion-col>
        </ion-row>
    </form>
    <!-- </ion-card> -->
    <!-- </ion-card> -->
</ion-content>