<ion-header>
    <ion-toolbar>
        <ion-icon slot="start" class="icon" name="arrow-back" [routerLink]="['/my-network']"></ion-icon>
        <ion-title>Add Attendance</ion-title>
    </ion-toolbar>

</ion-header>
<ion-content>
    <ion-item>
        <!-- <ion-label position="stacked" color="primary">Birthday</ion-label> -->
        <div class="input-container">
            <ion-icon class="iconLogin" name="calendar"></ion-icon>
            <input class="input" placeholder="Birthday" name="Birthday" type="text" id="birth" [value]="currentDate" disabled required />
        </div>&nbsp;&nbsp;
    </ion-item>
    <!-- <ion-label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <ion-text color="danger">Birthday is required</ion-text>
    </ion-label> -->
    <ion-item>
        <div class="input-container">
            <ion-icon class="iconLogin" name="person"></ion-icon>
            <!-- <ion-select placeholder="Leader"> -->
            <input class="input" *ngFor="let user of currentUser" disabled placeholder="{{user.lastname}}, {{user.firstname}}" name="Leader" type="text" id="leader" required />
            <!-- <ion-select-option value="f" *ngFor="let user of currentUser"><b>Leader:</b> {{user.lastname}}, {{user.firstname}}</ion-select-option>
            </ion-select> -->
        </div>
    </ion-item>
    <div class="ion-margin">
        <ion-grid>
            <ion-row class="grid">
                <ion-col size-xs="4">Name</ion-col>
                <ion-col size-xs="4">CG</ion-col>
                <ion-col size-xs="4">SC</ion-col>
            </ion-row>
            <ion-row *ngFor="let member of groupMembers">
                <ion-col size-xs="4">{{member.lastname}}, {{member.firstname}} </ion-col>
                <ion-col size-xs="4">
                    <ion-checkbox (ionChange)="addEventsAttendance(member)"></ion-checkbox>
                </ion-col>
                <ion-col size-xs="4">
                    <ion-checkbox (ionChange)="addSundayCelebAttendance(member)"></ion-checkbox>
                    <!-- <ion-toggle color="success"></ion-toggle> -->
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="pagination">
            <a *ngIf="groupMembers.length != 0" (click)=" onChangePage($event, 'deduct') ">❮</a>
            <a *ngIf="groupMembers.length != 0" style="float:right " (click)="onChangePage($event, 'add') ">❯</a>
        </div>
        <!-- <a>❮</a>
            <a style="float: right; ">❯</a> -->
    </div>
    <ion-button class="saveBtn" color="success" (click)="addAttendanceSelectedEvent()">Save</ion-button>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
        <ion-fab-button routerLink="/create-new-user">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>