<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" class="icon" name="arrow-back" [routerLink]="['/app/tabs/speakers']"></ion-icon>
    <ion-title>Add Lesson</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="card">
    <ion-card-content>
      <form #addEventsForm="ngForm" novalidate>
        <ion-list lines="none">
          <ion-item>
            <div class="input-container">
              <ion-icon class="iconLogin" name="locate-outline"></ion-icon>
              <ion-input [(ngModel)]="lessonsAdded.name" placeholder="Lesson Name" name="name" type="text"
                #Name="ngModel" required></ion-input>
            </div>&nbsp;&nbsp;
          </ion-item><br>

          <ion-item>
            <div class="input-container">
              <ion-input [(ngModel)]="lessonsAdded.title" #nameCtrl="ngModel" placeholder="Title" name="Title"
                type="text" #Title="ngModel" required></ion-input>
            </div>&nbsp;&nbsp;
          </ion-item>
          <ion-label *ngIf="!Title.valid && Title.touched && Title.errors?.required">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <ion-text color="danger">Title is required</ion-text>
          </ion-label><br>

          <ion-item>
            <div class="input-container">
              <ion-input [(ngModel)]="lessonsAdded.description" #nameCtrl="ngModel" placeholder="Description"
                name="Description" type="text" #Description="ngModel" required></ion-input>
            </div>&nbsp;&nbsp;
          </ion-item>
          <ion-label *ngIf="!Description.valid && Description.touched && Description.errors?.required">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <ion-text color="danger">Description is required</ion-text>
          </ion-label><br>

          <ion-item>
            <div class="input-container">
              <ion-icon class="iconLogin" name="add-circle-outline"></ion-icon>
              <ion-input [(ngModel)]="lessonsAdded.lesson" placeholder="Level" name="LessonsNumber" type="number"
                required></ion-input>
            </div>&nbsp;&nbsp;
          </ion-item>
        </ion-list>
        <div class="ion-padding">
          <ion-button (click)="addLessonOfTraining(addEventsForm)" type="submit" expand="block">Add</ion-button>
        </div>
      </form>

    </ion-card-content>
  </ion-card>

</ion-content>