<ion-content>
    <ion-card>
        <div class="card">
            <div class="login-logo">
                <img src="assets/img/BHCFLogo.png" alt="Ionic logo">
                <p>Blessed Hope of Christian Fellowship</p>
            </div>
            <form #loginForm="ngForm" novalidate>
                <ion-list>
                    <ion-item>
                        <div class="input-container">
                            <ion-icon class="iconLogin" name="person-sharp"></ion-icon>
                            <input autocomplete="off" [(ngModel)]="login.username" name="email" class="input" placeholder="Username" type="text" #email="ngModel" spellcheck="false" autocapitalize="off" required />
                        </div>&nbsp;&nbsp;
                    </ion-item>
                    <ion-label *ngIf="!email.valid && email.touched && email.errors?.required">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <ion-text color="danger">Username is required</ion-text>
                    </ion-label><br>
                    <ion-item>
                        <div class="input-container">
                            <ion-icon class="iconLogin" name="key"></ion-icon>
                            <input [(ngModel)]="login.password" class="input" name="password" placeholder="Password" type="{{type}}" #password="ngModel" required />
                            <button class="btnEye" *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> 
                                <ion-icon name="eye-off" style="font-size:25px;"></ion-icon>
                             </button>
                            <button class="btnEye" *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> 
                                <ion-icon name="eye" style="font-size:25px;"></ion-icon>
                             </button>
                        </div>&nbsp;&nbsp;
                    </ion-item>
                    <ion-label *ngIf="!password.valid && password.touched && password.errors?.required">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <ion-text color="danger">Password is required</ion-text>
                    </ion-label>

                </ion-list><br>

                <ion-row>
                    <ion-col>
                        <ion-button class="btnLogin" (click)="onLogin()" type="submit" expand="block">Login</ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button class="btnLogin" color="secondary" type="submit" expand="block">Forgot Password</ion-button>
                    </ion-col>
                </ion-row>
            </form>
        </div>
    </ion-card>


</ion-content>