<ion-header>
    <ion-toolbar>
        <ion-icon slot="start" class="icon" name="arrow-back" [routerLink]="['/app/tabs/speakers']"></ion-icon>
        <ion-title>Classes Details</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="speaker-detail">
    <div class="background">
        <ion-card>
            <h1>Title: </h1>
            <p>Say hello on social media!</p>

        </ion-card>

    </div>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>