<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="toggleFavorite()">
                <ion-icon *ngIf="!isFavorite" slot="icon-only" name="star-outline"></ion-icon>
                <ion-icon *ngIf="isFavorite" slot="icon-only" name="star"></ion-icon>
            </ion-button>
            <!-- <ion-button (click)="shareSession()">
                <ion-icon slot="icon-only" name="share"></ion-icon>
            </ion-button> -->
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="card">
        <div *ngIf="session" class="ion-padding">
            <h1>{{session.title}}</h1>
            <span *ngFor="let track of session?.tracks" [class]="'session-track-'+track.toLowerCase()">{{track}}</span>
            <p>{{session.description}}</p>
            <ion-text color="medium">
                {{session.start_time}} &ndash; {{session.end_time}} <br> {{session.start_date}} &ndash;
                {{session.end_date}}
                <br /> {{session.location}}
            </ion-text>
        </div>
    </div>
    <!-- <div class="tableUsers">
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Attendance</th>
            </tr>
            <tr *ngFor="let member of members; let i = index">
                <td> {{ member.firstname }} </td>
                <td> {{ member.lastname }} </td>
                <td> {{ membersAttendance[i] }} </td>
            </tr>
        </table>
    </div> -->
    <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
        <ion-fab-button routerLink="/support">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab> -->
</ion-content>