<ion-content>
    <div class="login-logo">
        <img src="assets/img/BHCFLogo.png" alt="Ionic logo">
        <p>Blessed Hope of Christian Fellowship</p>
    </div>

    <form #loginForm="ngForm" novalidate>
        <ion-list>

            <ion-item>
                <div class="input-container">
                    <ion-icon class="iconLogin" name="person"></ion-icon>
                    <input style="border-right:none" [(ngModel)]="password.username" class="input" name="username"
                        placeholder="Username" type="text" #username="ngModel" required />
                </div>&nbsp;&nbsp;
            </ion-item>
            <!-- <ion-label *ngIf="username.touched ">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <ion-text color="danger">Username is required</ion-text>
            </ion-label><br> -->
            <br>
            <ion-item>
                <div class="input-container">
                    <ion-icon class="iconLogin" name="key"></ion-icon>
                    <input style="border-right:none" [(ngModel)]="password.currpassword" class="input"
                        name="currpassword" placeholder="Current Password" type="{{type}}" #currentpassword="ngModel"
                        required />
                    <button style="border: 1px solid orange; border-left: none" class="btnEye" *ngIf="!showCurrentPass"
                        ion-button clear color="dark" type="button" item-right (click)="showCurrentPassword()">
                        <ion-icon color="primary" name="eye-off" style="font-size:25px;"></ion-icon>
                    </button>
                    <button style="border: 1px solid orange; border-left: none" class="btnEye" *ngIf="showCurrentPass"
                        ion-button clear color="dark" type="button" item-right (click)="showCurrentPassword()">
                        <ion-icon color="primary" name="eye" style="font-size:25px;"></ion-icon>
                    </button>
                </div>&nbsp;&nbsp;
            </ion-item>
            <ion-label *ngIf="!currentpassword.valid && currentpassword.touched && currentpassword.errors?.required">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <ion-text color="danger">Current Password is required</ion-text>
            </ion-label><br>
            <ion-item>
                <div class="input-container">
                    <ion-icon class="iconLogin" name="key"></ion-icon>
                    <input style="border-right:none" [(ngModel)]="password.newPassword" class="form-control"
                        name="newPassword" placeholder="New Password" type="{{type2}}" #password="ngModel" required
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
                    <button style="border: 1px solid orange; border-left: none" class="btnEye" *ngIf="!showPass"
                        ion-button clear color="dark" item-right (click)="showPassword()">
                        <ion-icon color="primary" name="eye-off" style="font-size:25px;"></ion-icon>
                    </button>
                    <button style="border: 1px solid orange; border-left: none" class="btnEye" *ngIf="showPass"
                        ion-button clear color="dark" item-right (click)="showPassword()">
                        <ion-icon color="primary" name="eye" style="font-size:25px;"></ion-icon>
                    </button>
                </div>&nbsp;&nbsp;
            </ion-item>
            <ion-label>
                <div *ngIf="password.invalid && password.touched">
                    <ion-label *ngIf="password.errors.required">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <ion-text color="danger">New Password is required</ion-text>
                    </ion-label>
                    <ion-label *ngIf="password.errors.pattern">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <ion-text color="danger">Password must contain at least 8 characters.</ion-text><br>
                    </ion-label>
                </div>
            </ion-label>


        </ion-list><br>

        <ion-row>
            <ion-col>
                <ion-button class="btnLogin" (click)="resetPassword(loginForm)" type="submit" expand="block">Reset
                    Password</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button class="btnLogin" color="secondary" type="submit" expand="block"
                    [routerLink]="['/modal-page']">Cancel</ion-button>
            </ion-col>
        </ion-row>
    </form>
    <!-- </ion-card> -->
    <!-- </ion-card> -->
</ion-content>