ion-slides {
  height: 100%;
}

table {
    margin: 3%;
}
table, tr, td, th {
    padding: 10px;
    border: 1px solid rgba(160, 160, 160, 0.5);
}
.tableMembers {
    height: 500px;
    border: 1px solid #000000;
}

th {
    width: 50%;
}