<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end" class="action-sheets-basic-page">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" #slideWithNav>
    <ion-slide>
      <!-- This is for the Statistics  -->
      <ion-card>
        <ion-input (ionChange)="getTheUserView($event)" name="code" ngModel class="input">
          <ion-select placeholder="Choose Type">
            <ion-select-option *ngFor="let value of typeOfViewChoices" [value]="value">{{ value }}</ion-select-option>
          </ion-select>
        </ion-input>

        <!-- This will show if the type of choice is quarterly -->
        <ion-input *ngIf="quarterBool" (ionChange)="monthsToView($event)" name="code" ngModel class="input">
          <ion-select placeholder="Choose Type">
            <ion-select-option *ngFor="let value of quarterMonths" [value]="value">{{ value.choices }}</ion-select-option>
          </ion-select>
        </ion-input>

        <!-- This will show if the type of choice is monthly -->
        <ion-input *ngIf="monthlyBool" (ionChange)="monthsToView($event)" name="code" ngModel class="input">
          <ion-select placeholder="Choose Type">
            <ion-select-option *ngFor="let value of monthlyView" [value]="value">{{ value }}</ion-select-option>
          </ion-select>
        </ion-input>

        <!-- This will show if the type of choice is weekly -->
        <ion-input *ngIf="weeklyBool" (ionChange)="monthsToView($event)" name="code" ngModel class="input">
          <ion-select placeholder="Choose Type">
            <ion-select-option *ngFor="let value of weeklyView" [value]="value">{{ value }}</ion-select-option>
          </ion-select>
        </ion-input>

        <!-- This will show if the type of choice is yearly -->
        <ion-input *ngIf="yearlyBool" (ionChange)="monthsToView($event)" name="code" ngModel class="input">
          <ion-select placeholder="Choose Type">
            <ion-select-option *ngFor="let value of yearlyView" [value]="value">{{ value }}</ion-select-option>
          </ion-select>
        </ion-input>

        <!-- For all the cellgroup's attendance Statistics  -->
        <ion-card-header>
          <h1>CellGroup Attendance</h1>
        </ion-card-header>
        <ion-card-content>
          <canvas #barCanvas></canvas>
        </ion-card-content><br>

        <!-- Sunday Celebration attendance Statistics -->
        <ion-card-header>
          <h1>Sundays Attendance</h1>
        </ion-card-header>
        <ion-card-content>
          <canvas #lineCanvas></canvas>
        </ion-card-content>
      </ion-card><br><br>
    </ion-slide>

    <!-- <ion-slide>
      <ion-card>
        <ion-input (ionChange)="selectMember($event)" name="code" ngModel class="input">
          <ion-select placeholder="Choose Type">
            <ion-select-option *ngFor="let value of typeOfViewMember" [value]="value">{{ value }}</ion-select-option>
          </ion-select>
        </ion-input> -->
    <!-- This is for the view of the members -->
    <!-- Vip and Regular members -->
    <!-- <div class="tableMembers">
          <table>
            <tr>
              <th>{{ typeOfView }}</th>
            </tr>
            <tr *ngFor="let value of listAllTheMembers">
              <td> {{ value }} </td>
            </tr>
          </table>
        </div>
      </ion-card>
    </ion-slide> -->

  </ion-slides>
</ion-content>