<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>



    <ion-card-content>

    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <h1> {{ calendarMonth }} </h1>
    <table>
      <tr>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
      </tr>
      <tr *ngFor="let value of lengthOfMonthsDate">
        <td [id]="arrayOfDatesForAmonth[value[0]].date">{{ arrayOfDatesForAmonth[value[0]].date }}</td>
        <td [id]="arrayOfDatesForAmonth[value[1]].date">{{ arrayOfDatesForAmonth[value[1]].date }}</td>
        <td [id]="arrayOfDatesForAmonth[value[2]].date">{{ arrayOfDatesForAmonth[value[2]].date }}</td>
        <td [id]="arrayOfDatesForAmonth[value[3]].date">{{ arrayOfDatesForAmonth[value[3]].date }}</td>
        <td [id]="arrayOfDatesForAmonth[value[4]].date">{{ arrayOfDatesForAmonth[value[4]].date }}</td>
        <td [id]="arrayOfDatesForAmonth[value[5]].date">{{ arrayOfDatesForAmonth[value[5]].date }}</td>
        <td [id]="arrayOfDatesForAmonth[value[6]].date">{{ arrayOfDatesForAmonth[value[6]].date }}</td>
      </tr>
    </table>
  </ion-card>
</ion-content>