<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <!-- This is for the Statistics  -->
      <ion-card>
        <!-- For all the cellgroup's attendance Statistics  -->
        <ion-card-header>
          <h1>CellGroup Attendance</h1>
        </ion-card-header>
        <ion-card-content>
          <canvas #barCanvas></canvas>
        </ion-card-content><br>

        <!-- Sunday Celebration attendance Statistics -->
        <ion-card-header>
          <h1>Sundays Attendance</h1>
        </ion-card-header>
        <ion-card-content>
          <canvas #lineCanvas></canvas>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <!-- This is for the view of the members -->
      <!-- Vip and Regular members -->
      <div class="tableMembers">
        <table>
          <tr>
            <th>Vip Members</th>
            <th>Regular Members</th>
          </tr>
          <tr *ngFor="let in of counter(vipMembers.length); let i = index">
            <td>{{ vipMembers[i] }}</td>
            <td>Dwayne Wade</td>
          </tr>
        </table>
      </div>

    </ion-slide>

    <ion-slide>
      <!-- This is for the view of the members -->
      <!-- Active and Inactive members -->
      <div class="tableMembers">
        <table>
          <tr>
            <th>Active Members</th>
            <th>Inactive Members</th>
          </tr>
          <tr *ngFor="let in of counter(active.length); let i = index">
            <td>{{ active[i] }}</td>
            <td>{{ inactive[i] }} </td>
          </tr>
        </table>
      </div>

    </ion-slide>

  </ion-slides>
</ion-content>